.ICEauthority
.Xauthority
.bash_history
.cache/
.config/
.dbus/
.gnome/
.gnupg/
.local/
.pki/
.pulse-cookie
.putty/
.ssh/
.steam/
.steampath
.steampid
#.viminfo
.xournal/
20-touchpad.conf
Desktop/
Documents/
Downloads/
Videos/
docker.commands
easyUpdate.sh
scale.sh
startHiDPIchrome.sh
